@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-950 text-gray-100;
  }
}

.glass-panel {
  @apply bg-dark-800/60 backdrop-blur-md border border-dark-900/50 shadow-xl;
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(31, 41, 55, 0.5); 
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 19, 55, 0.5); 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(225, 29, 72, 0.8); 
}
